.dayDataField {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  background-color: var(--white);
  margin-top: 10px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.dayDataField p {
  cursor: pointer;
  font-size: 40px;
}

.dayDataField p:hover {
  text-decoration: underline;
}

.selectedColor {
  text-decoration: underline;
}
